*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #f6f9fe;
    background-image:url(./img/bc.jpg);
    background-repeat: no-repeat;
}
.top{
    height:70px;
    margin:0 100px;
    position: relative;
}
.pic1{
    float:left;
    height:37px;
    margin:13px 0;
}
.pic1::before{
    content:"";
    clear:both;
}
.line{
    width:100%;
    border-bottom:1px solid #f6f9fe;
    margin-bottom:65px;
}
.location{
    height:37px;
    float:right;
    margin-top:22px;
}
.text{
    display: inline-block;
    margin-right:10px;
    color:#fff;
    font-size:17px;
}
.xb{
    height: 20px;
    width: 18px;
    background-image: url(./img/xb.png);
    background-position: -208px -121px;
    background-size: 228px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.tj{
    font-size:15px;
    color:rgba(238, 226, 238, 0.822);
}
.search{
    width: 251px;
    height: 30px;
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,.7);
    font-size:14px;
    vertical-align: middle;
    border-radius: 49px;
    line-height:30px;
    padding-left:9px;
}
.container{
    height:310px;
    position: relative;
    margin:0 100px;
}
.bigpic{
    position: absolute;
    top: 56px;
    right: 152px;
    height: 134px;
}
.alt{
    display:block;
    color:#fff;
    margin-bottom: 5px;
}
.lines{
    margin-bottom: 18px;
}
.line1{
    font-size:15px;
    color:rgba(238, 226, 238, 0.822);
}
.line2{
    font-size:16px;
    display:inline-block;
    margin-right:15px;
}
.p1{
    font-size:86px;
}
.p2{
    font-size:30px;
}
.p3{
    width: 71px;
    height: 25px;
    font-size:16px;
    background-color: #f0cc35;
    border-radius: 16px;
    line-height: 25px;
}
.p3::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(./img/xb.png);
    background-position: -157px -30px;
    background-size: 171px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin:3px 8px 3px 3px;
}
.line3{
    font-size:18px;
    display:inline-block;
    margin-right:20px;
}
.s1::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/xb.png);
    background-position: -163px -142px;
    background-size: 202px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.s2::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/xb.png);
    background-position: -163px -102px;
    background-size: 202px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.s3::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/xb.png);
    background-position: -163px -81px;
    background-size: 202px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.a1::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#fff;
    margin-right:5px;
}
.a1::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/xb.png);
    background-position: -102px -165px;
    background-size: 202px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.middle{
    width:1200px;
    height:521px;
    margin:100px auto;
    margin-bottom:80px;
}
.left{
    width: 740px;
    height: 492px;
    padding: 20px 0 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.08);
}
.right{
    float:right;
    width: 430px;
    height: 492px;
    border-radius: 10px;
}
.rlist{
    width: 430px;
    height: 21px;
    font-size:18px; 
    padding-top:5px;
}
.rlist::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color:black;
    vertical-align: middle;
    margin-right:10px;
}
.rpic1{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/xb.png);
    background-position: -102px -165px;
    background-size: 202px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.rpic1{
    float:right;
    width: 24px;
    height: 24px;
    background-image: url(./img/xb.png);
    background-position: -137px -155px;
    background-size: 237px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    
}
.rpic2{
    float:right;
    width: 24px;
    height: 24px;
    background-image: url(./img/xb.png);
    background-position: -192px 1px;
    background-size: 237px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-left:5px;
}
.box{
    width:440px;
    height:480px;
    overflow: hidden;
    position: relative;
}
.boxch{
    width:900px;
    height:480px;
    position:absolute;
}
.bp{
    width:22.5%;
    height:30%;
    border-radius: 10px;
    float:left;
    margin:12px 2.5% 0 0;
    box-sizing: border-box;
    padding:10px;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.08);
    position: relative;
    overflow: hidden;
}

.bbox{
    width:100%;
    height:100%;
    padding-top:15px;
    margin:0 auto;
    text-align: center;
    overflow: hidden;
    transition: 0.87s;
}

.bp:hover .bbox{
    height:0;
}
.bbox1{
    height:0;
    font-size:13px;
    padding:12px;
    margin:0 3%;
}

.bpic{
    width:50px;
    height:50px;
    background-image: url(./img/xb.png);
    background-position: -106px 0px;
    background-size: 320px;
    margin-bottom:10px;
    margin:10px auto;
    
}
.btext{
    font-size:13.5px;
    display:inline;
}
.bpic1{
    background-image: url(./img/xb.png);
    background-position: -106px 0px;
}
.bpic2{
    background-image: url(./img/xb.png);
    background-position: 0px -209px;
}
.bpic3{
    background-image: url(./img/xb.png);
    background-position: -208px -101px;
}
.bpic4{
    background-image: url(./img/xb.png);
    background-position: -160px -101px;
}
.bpic5{
    background-image: url(./img/xb.png);
    background-position: -101px -208px;
}
.bpic6{
    background-image: url(./img/xb.png);
    background-position:-207px -151px;
}
.bpic7{
    background-image: url(./img/xb.png);
    background-position:-207px -49px;
}
.bpic8{
    background-image: url(./img/xb.png);
    background-position:-207px 2px;
}
.bpic9{
    background-image: url(./img/xb.png);
    background-position:-49px -57px;
}
.bpic10{
    background-image: url(./img/xb.png);
    background-position:5px -57px;
}
.bpic11{
    background-image: url(./img/xb.png);
    background-position: -49px -154px;
}
.bpic12{
    background-image: url(./img/xb.png);
    background-position: -100px -110px;
}



















.lfbot{
    width:7px;
    height:7px;
    border-radius: 50%;
    margin:8px 12px 0 30px;
    background-color: #000;
    float:left;
}
.lftext{
    font-size:19px;
}
.lfr{
    float:right;
    font-size:12px;
    border-radius: 15px;
    background: #f8faff;
    border: 1px solid #dce5f0;
    padding:6px 13px;
    margin:0 30px;
}
.lfr:hover{
    background: #eef0f6;
    border: 1px solid #e9e9e9;
    color: #868686;
}
.lfbox{
    width:94%;
    height: 90%;
    margin:3% 3% 0 3%;
}
.lf{
    width:12.5%;
    height:100%;
    float:left;
    text-align:center;
    font-size:13.5px;
}
.lfp1{
    width:100%;
    height:20%;
    margin:15px 0;
}
.lfp11{
    width:100%;
    height:20%;
    margin:15px 0;
    font-size:12px;
    color:#c2c2c2;
}
.lfp2{
    margin:25px 0;
}
.lfp21{
    background-image:url(./img/00.png);
    background-size:30px; 
    width:30px;
    height:30px;
    margin:0 auto;
}
.lfp22{
    margin:35px 0;
}
.lfp3{
    margin:10px 0;
}
.lfp31{
    background-image:url(./img/03.png);
    background-size:30px; 
    width:30px;
    height:30px;
    margin:20px auto;
}
.lfp32{
    margin:25px 0;
}
.lfp33{
    margin:10px 0;
    color:#c2c2c2;
}

.bottom{
    width:100%;
    background-color: #3a4570;
    padding:50px 0;
}
.botpicbox{
    width:60%;
    height:20%;
    margin:0 auto;
}
.botpic{
    width:150px;
    height:41px;
    background-repeat: no-repeat;
    margin:0 65px;
    display:inline-block;
}
.botpic1{
    background-image: url(./img/b1.png);
}
.botpic2{
    background-image: url(./img/b2.png);
}
.botpic3{
    background-image: url(./img/b3.png);
}
.botbox{
    width:80%;
    margin:0 auto;
}
.bottext{
    padding-top:30px;
    text-align: center;
    font-size:12px;
    color:#fff;
}